ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
}

.head {
    padding: 20px;
    display: block;
    height: 30px;
}

#top .right {
    padding: 15px 20px;
}

.head ul {
    overflow: hidden;
}

.head ul li {
    float: left;
}

.left {
    display: block;
    float: left;
}

.right {
    display: block;
    float: right;
}

#search {
    position: relative;
    bottom: 10px;
    margin: 10px 20px;
    width: 550px;
    padding: 13px 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

#search:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#search:focus {
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#logo {
    float: left;
    width: 92px;
}

#products {
    width: 20px;
    height: 20px;
    margin: 0px 25px;
}

#signIn {
    padding:7px 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: #4387fd;
    border: 1px solid rgb(66, 133, 244);
    border-radius: 3px;
    color: white;
}

#signIn:active {
    background-color: rgb(66, 133, 244);
}

header #bottom {
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    padding-bottom: 15px;
    bottom: 10px;
}

header #bottom div.left {
    margin: 0 0 0 90px;
    width: 630px;
    /* border: 1px solid black; */
}

header #bottom li {
    padding: 10px;
    text-align: center;
}

header #bottom a {
    color: #777;
}

header #bottom a:hover {
    color: black;
}

header #bottom a:active {
    color: rgb(66, 133, 244);
}

#current {
    margin-left: 30px;
    border-bottom: 3px solid rgb(66, 133, 244);
    height: 22px;
}

#current a {
    color: #1A73E8;
}

#current a:hover {
    color: #1A73E8;
}

#tools a{
    margin-right: 2px;
    padding: 5px 15px;
    border: 1px solid transparent;
}

#tools a:hover {
    box-sizing: content-box;
    background-color: #f1f1f1;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 2px;
    color: #777;
}

#tools a:active {
    -moz-box-shadow:    inset 0 1px 1px rgba(0, 0 , 0, 0.1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0 , 0, 0.1);
    box-shadow:         inset 0 1px 1px rgba(0, 0 , 0, 0.1);
    color: black;
}

#all {
    position: relative;
    width: 600px;
    left: 140px;
}

#stats {
    font-size: 13px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
}

.result {
    margin: 20px 0;
    padding-left: 10px;
}

.result a {
    display: block;
}

.result .title {
    font-size: 18px;
    color: #1a0dab;
}

.result .title:hover {
    text-decoration: underline;    
}

.result .url {
    font-size: 14px;
    margin: 5px 0;
    color: #006621;
}

.result p {
    margin: 0;
    font-size: 13px;
    line-height: 23px;
}

#related {
    width: 100%;
    position: relative;
    left: 10px;
    height: 150px;
}

#related p {
    font-size: 18px;
    margin-top:45px;
    margin-bottom: 20px;
}

#related ul {
    box-sizing: border-box;
    width: 50%;
}

#related ul a {
    display: block;
    color: #1a0dab;
    font-size: 15px;
    margin: 8px 0;
}

#related ul li a:hover {
    text-decoration: underline;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;

}

footer div {
    background-color: #f2f2f2;
    color: #5F6368;
    height: 20px;
    padding: 10px 150px;
    border-top: 1px solid rgb(228, 228, 228);
}

#country {
    padding: 3px 0;
    padding-right: 25px; 
    line-height: 15px;
    border-right: 1px solid rgb(228, 228, 228);
}

#location {
    font-size: 13px;
    margin-left: 25px;
}

#location strong {
    color: black;
}

#location a {
    color: #5F6368;
}

#location a:hover {
    color: black;
}

footer #bottom ul {
    margin: 0;
    padding: 0;
}

footer #bottom li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 20px;
}

footer #bottom li a{
    color: #5F6368;
    font-size: 13px;
}

footer #bottom li a:hover{
    color: black;
}